# Azure Pipeline for CI
# This pipeline runs on every push and pull request to ensure code quality

trigger:
  - main
  - develop
  - feature/*

pr:
  - main
  - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  NODE_VERSION: '20.x'

steps:
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: $(NODE_VERSION)

  - script: |
      npm ci
    displayName: 'Install dependencies'

  - script: |
      npm run lint
    displayName: 'Run linting'

  - script: |
      npm run build
    displayName: 'Build application'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish build artifacts'
    inputs:
      PathtoPublish: '.next'
      ArtifactName: 'next-build'
    condition: succeeded()
